body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.margin-3 {
  margin: 3%;
}

.margin-tb-3 {
  margin: 3%;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 98%;
  margin: 1% 1% 3%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .box {
      width: 31%;
      margin: 1%;
  }
}